@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

html {
  padding: 0px;
  margin: 0px;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

p {
  margin: 10px 0;
}
img {
  width: 100%;
}
/* Products page */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #35363b;
  color: #fff;
  opacity: 0.9;
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
  z-index: 10;
}

/* .navbar.top {
  background: #494a4e;
} */

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
  z-index: 10;
}
.navbar a:hover {
  color: #28a745;
}
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar .logo {
  font-weight: 400;
}

.navbar .active a {
  border-bottom: #28a745 1px solid;
}

.navbar img {
  padding-top: 40px;
  width: 250px;
  z-index: 10;
  border-radius: 40px;
}
.flex-items h2 {
  font-size: 30px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.title {
  padding-top: 20px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #41aeee;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
tbody img {
  width: 44px;
  color: #41aeee;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #41aeee;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* Footer */
#main-footer {
  background: #35363b;
  color: #fff;
  padding: 50px;
}

#main-footer img {
  width: 175px;
}
#main-footer a {
  color: #fff;
  text-decoration: none;
}
#main-footer p {
  font-size: 12px;
  padding-right: 150px;
  padding-left: 50px;
  margin-bottom: 10px;
}

#main-footer a:hover {
  color: #28a745;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  grid-gap: 2rem;
}

.content-page {
  margin-top: 8rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

@media (max-width: 768px) {
  .flex-columns .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .flex-columns.flex-reverse .row {
    flex-direction: column;
  }

  #main-footer .footer-container {
    display: flex;
    flex-direction: column;
  }

  #main-footer .footer-container {
    display: grid;
    grid-template-columns: 5fr;
    grid-gap: 2rem;
  }

  #main-footer p {
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .content-page {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media (max-width: 425px) {
  html {
    position: absolute;
  }

  #navbar {
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 1fr 3fr;
  }
  .navbar {
    height: 250px;
    width: 100%;
    background-color: #184d47;
  }

  .navbar ul {
    flex-direction: row;
    margin-left: 60px;
  }
  nav a {
    font-size: 24px;
  }

  .navbar .logo {
    font-weight: 50;
    width: 100%;
    background-color: #184d47;
  }
  nav {
    width: 100%;
    justify-content: center;
    padding-bottom: 80px;
  }

  .navbar img {
    padding-top: 40px;
    width: 250px;
    z-index: 10;
    border-radius: 5px;
    background-color: #184d47;
  }

  .navbar .active a {
    border-bottom: #28a745;
  }
  /* .flex-columns .column {
    display: flex;
    /* flex-direction: column; */
  /* flex-basis: 100%;
    flex: 2;
    flex: 100%;
    width: 100%;
  } */

  /* .flex-items {
    flex-direction: column;
  }
  .flex-grid .column {
    flex: 100%;
  } */
  .content-page {
    margin-top: 15rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
